.Impact {
  min-height: 100vh;
  padding: 20px 0;
}

.diet-form {
  margin: 50px 0;
  height: 100vh;
}

.fake-circle {
  border-radius: 100%;
  background-color: purple;
  height: 200px;
  width: 200px;
}

.question-cont {
  position: relative;
}

.rotate {
  position: absolute;
  bottom: 38px;
  right: 260px;
  width: 70px;
}

.diet-article {
  height: 100vh;

  & h1 {
    font-size: 3em;
  }  

  & p {
    font-size: 1.6em;
  }

  & .foods-cont {
    display: flex;
    justify-content: center;
  }

  & .foods {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  & #chocolate {
    background-image: url('../../assets/chocolate.png');
  }

  & #avocado {
    background-image: url('../../assets/avocado.png');
  }

  & #coffee {
    background-image: url('../../assets/coffee-beans.png');
  }
}

.economic-questions {
  width: 100%;
  height: 100vh;
  margin: 50px 0;

  & div {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
  }

  & input {
    width: 48%;
    height: 50px;
    border: 2px solid #e5e5e5;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 1.3em;
  }
}

.economic-article {
  height: 100vh;

  & h1 {
    font-size: 3em;
  }
}
/*
.rotate {
  width: 50px;
    -webkit-animation: spin 3s infinite linear;
    animation: spin 3s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}*/